.main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem auto;
    grid-template-areas: "header header" "input-segment output-segment";
    grid-gap: 20px;
}

.header {
    grid-area: header;
    padding: 2rem;
}

.json-input {
    grid-area: input-segment;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 2rem 2rem auto;
    grid-gap: 10px;
}

.haxe-output {
    grid-area: output-segment;
    display: flex;
    flex-direction: column;
}

.haxe-output .code_display {
    flex: 1;
}

.padding { padding: 1rem; }
.padding-left { padding-left: 1rem; }
.margin-left { margin-left: 1rem; }
.margin { margin: 1rem; }
