* { margin: 0; padding: 0; }

body {
  font-family: 'Source Sans Pro', 'Lucida Grande', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #293c4b;
}

h1 { font-size: 42px; }
h4 { font-size: 24px; }
h6 { font-size: 16px; }

.stretch { flex: 1; }
.fullwidth { width: 100%; }
.expand { width: 100%; height: 100%; }
.vertical-center { self-align: center; }

.row { display: flex; flex-direction: row; }
.padding { padding: 0.5rem; }

.code_display {
    text-align: left;
    font-family: "Inconsolata" "Hack" "Monospace Regular";
    font-size: 11px;
    padding: 2rem 5rem;
    background-color: #e1e1e1;
}

.class_elem {
    font-weight: bold;
    color: #521;
}
